.section5M {
    padding-top: 2vw;
    background: #FBAD3A;
    height: 270px;
}

.section5M h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0 auto 10px;

}

.section5AddressM {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;

}

.section5WrapperM {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}

.section5WrapperBoxM {
   text-align: center;
}

.section5WrapperBoxM p {
    font-size: 12px;
    font-weight: bold;
    margin: 5px auto 10px ;
}

.section5WrapperYandexM {
    width: 150px;
    height: auto;
}