.section6 {
    padding-top: 2vw;
    background: rgba(0, 0, 0, 0.5);
    height: 25vw;
}

.section6-wrapper_box h3 {
    font-size: 2vw;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;

}

.section6-wrapper {
    display: flex;
    flex-flow: row nowrap;

    max-width: 90vw;
    margin: 0 auto;
    height: 100%;
}

.section6-wrapper_box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    height: 90%;
    padding: 0 2vw;
}

.section6-wrapper_box ul,
.section6-wrapper_box ol {
    font-size: 1.3vw;
    color: white;
}
.section6-wrapper_box ul li {
list-style-type: none;
}

.section6-wrapper_box p {
    font-size: 1.3vw;
    color: white;
    margin: 0;
}

.section6-frame {
    width: 90%;
    height: 23vw;
    border-radius: 1vw;
    margin: 0 auto;
}