@font-face {
  src: url('../src/fonts/AlegreyaSans-Regular.ttf');
  font-family: 'AlegreyaSans';
}

@font-face {
  src: url('../src/fonts/AlegreyaSans-Bold.ttf');
  font-family: 'AlegreyaSans-Bold';
}