.conditions-on,
.conditions {
    position: fixed;
    width: 90vw;
    height: 96%;
    overflow: scroll;
    top: 1vw;
    left: 4.5vw;
    background: white;
    z-index: 5;
    border: 0.3vw #FBAD3A solid;

}

.conditions {
    opacity: 0;
}

.conditions-on {
    opacity: 1;
    transition: opacity .2s linear .2s;
}

.closeConditions {
    position: absolute;
    right: 1.5vw;
    top: 1.5vw;
    border-radius: 0.3vw;
    padding: 0.1vw 0.6vw;
    font-size: 2vw;
    font-weight: bold;
    color: rgb(46, 46, 46);
    cursor: pointer;
    transform: scale(1);
    box-shadow: 0 0 .2vw .2vw rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.closeConditions:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.conditions-wrapper {
    margin: 0 auto;
    width: 80%;
    min-height: 90%;
    box-shadow: 0 1vw 1vw 0 rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
}

.conditions-wrapper h1 {
    text-align: center;
    margin: 2vw 0 0.3vw;
}

.conditions-wrapper_line {
    background: #FBAD3A;
    width: 90%;
    height: 0.1vw;
    border: none;
}

.conditions-wrapper ol {
    font-size: 120%;
}

.conditions-wrapper ol li {
    margin: 0.7vw;
    color: #FBAD3A;
}

.conditions-wrapper-li {
    color: black;
}