h1 {
	font-size: 3.2vw;
	color: #FBAD3A;
	font-weight: 500;
}

.slider-box {
	display: flex;
	max-width: 100%;
	height: 29vw;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
}

.slider-box-heder {
	letter-spacing: 0;
	position: relative;
	margin-top: 3vw;
	margin-bottom: 0.5vw;
	line-height: 0.9em;
	color: white;
}



.slider {
	height: 30vw;
	width: auto;
	padding-bottom: 10vw;
	position: relative;
}

.sleder-blackout {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.slider1-box-heder::before {
	content: "";
	background: url(./Slider1/bizness.svg) no-repeat;
	background-size: contain;
	position: absolute;
	height: 7vw;
	width: 7vw;
	top: -2.5vw;
	left: -10vw;
}

.slider2-box-heder::before {
	content: "";
	background: url(./Slider2/transfer.svg) no-repeat;
	background-size: contain;
	position: absolute;
	height: 7vw;
	width: 8vw;
	top: -1.8vw;
	left: -10vw;
}

.slider3-box-heder::before {
	content: "";
	background: url(./Slider3/box.svg) no-repeat;
	background-size: contain;
	position: absolute;
	width: 7vw;
	height: 8vw;
	top: -2.2vw;
	left: -10vw;
}

.slider4-box-heder::before {
	content: "";
	background: url(./Slider4/clock.svg) no-repeat;
	background-size: contain;
	position: absolute;
	width: 8vw;
	height: 8vw;
	top: -2.2vw;
	left: -10vw;
}

.slider5-box-heder::before {
	content: "";
	background: url(./Slider5/baby.svg) no-repeat;
	background-size: contain;
	position: absolute;
	width: 8vw;
	height: 8vw;
	top: -2.2vw;
	left: -10vw;
}

.slider1 {
	background: url(../../SliderImages/slider1.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.slider2 {
	background: url(../../SliderImages/slider22.png) no-repeat;
	background-position: center;
	background-size: cover;
}

.slider3 {
	background: url(../../SliderImages/slider3.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.slider4 {
	background: url(../../SliderImages/slider4.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.slider5 {
	background: url(../../SliderImages/slider5.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.slider-wrapper {
	max-width: 90vw;
	margin: 0 auto;
}

.slider-list {
	color: #FBAD3A;
	font-size: 1.52vw;
	margin: 0;
	z-index: 1;
}

.slider-list li {
	margin-bottom: 1vw;
}

.slider-list_color {
	color: white;
}

.slider-button {
	z-index: 1;
	justify-self: end;
}

.slider-button_style {
	width: 15vw;
	font-size: 1.5vw;
	font-weight: bold;
	background-color: #FBAD3A;
	color: rgb(0, 0, 0);
	transition: color 0.3s linear;
}

.slider-button_style:hover {

	color: white;
	transition: color 0.3s linear;
}